<!-- コメント記入欄 -->
<div class="mt-5 mb-3">
  <div class="col-lg-8 offset-lg-2">
    <%= form_with model: comment, url: [board, comment] do |f| %>
      <%= f.text_area :body, class: 'form-control mb-3 outline-black', placeholder: 'コメントを入力', size: "40x10" %>
      <%= f.submit '投稿', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>