
<!--「いいね」をしている<p>いいね！</p>場合としていない場合でif文作成-->
<% if current_user.likes.find_by(board_id: board.id) %>
  <%= link_to board_likes_path(board.id), method: :delete, remote: true do %>
    <i class="fas fa-thumbs-up"></i>
    <%= board.likes.count %>
  <% end %>
<% else %>
  <%= link_to board_likes_path(board.id), method: :post, remote: true do %>
    <i class="far fa-thumbs-up"></i>
    <%= board.likes.count %>
  <% end %>
<% end %>
