<div class="container">
  <div class="row">
    <div class=" col-md-10 offset-md-1 col-lg-8 offset-lg-2">
    
      <h1>フォロー一覧</h1>
      
      <div class="col-12">
        <div class="row">
          <% if @following.empty? %>
            <% @following.each do |following| %>
              <%= @user.name %>
            <% end %>
          <% else %>
            <h2><%= 'フォローしている人がいません' %></h2>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>