<div class="container">
  <div class="row">
    <div class=" col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h1>ユーザ詳細画面</h1>
        <h1 class="font-weight-normal mt-5 mb-5"><%= @user.name %>さんのページ</h1>
    </div>
  </div>
</div>