<nav class="bg-white justify-between flex-wrap p-3 text-center">
  <div>
    <%= link_to "利用規約", static_pages_terms_path, class: "m-2" %>
    <%= link_to "プライバシーポリシー", static_pages_privacy_path, class: "m-2" %>
    <%= link_to "お問い合わせ", root_path %>
  </div>
  <p>©︎2021.Re:Collect</p>
</nav>