<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
          <div class="index-track-image">
            <%= image_tag(board.song_image) %>
          </div>
          <div class="index-track-name">
            <%= board.song_title %>
          </div>
          <div class="index-artist-name">
            <%= board.artist %>
          </div>
          <%= link_to board.title, "/boards/#{board.id}" %>
        </div>
      </div>
    </div>
  </article>
</div>