<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <%= link_to board.title, "/boards/#{board.id}" %>
      </div>
    </div>
  </article>
</div>