<div class="container">
  <div class="row">
    <div class=" col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h1>一覧画面</h1>
      
      <div class="col-12">
        <div class="row">
          <% if @boards.present? %>
            <% @boards.each do |board| %>
              <%= board.title %>
            <% end %>
          <% else %>
            <h2><%= '掲示板がありません' %></h2>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>