<div class="container">
  <div class="row">
    <div class=" col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h1>投稿詳細ページ</h1>
        <%= @board.title %>
        <%= @board.body %>
        <% if @board.user == current_user %>
          <%= link_to "編集", edit_board_path %>
          <%= link_to "削除", board_path, method: :delete %>
        <% end %>
    </div>
  </div>
</div>