<div class="container">
  <div class="row">
    <div class=" col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h1>投稿詳細ページ</h1>
        <%= @board.title %>
        <%= @board.body %>
    </div>
  </div>
</div>