<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="min-h-screen w-full select-none md:place-items-start bg-gradient-to-b from-gray-800 to-black px-20 py-10 align-middle justify-center">
  <div class="w-full grid place-items-center md:place-items-start">
    <h1>アプリロゴ</h1>
  </div>
  <div class="w-full grid place-items-center mt-10">
    <p class="text-white text-3xl md:text-6xl font-normal text-center">音楽と思い出を共有するSNSアプリ</p>
    <button class="border-2 inline-block mt-20 md:mt-36 border-gray-600 font-thin text-gray-400 text-xl md:text-2xl px-8 py-2">
      <%= link_to "投稿を見てみる", boards_path %>
    </button>
  </div>
</div>
</body>
</html>